{
    "persons": {
        "1": {
            "name": "Paul",
            "surname": "Zeus",
            "street": "Kerkstraat",
            "number": "1",
            "zip": "1000",
            "country": "Belgium",
            "city": "Brussel",
            "email": "info@gmail.com",
            "phone": "+3225859262"
        },
        "2": {
            "name": "Noodles",
            "surname": "De Bondt"
        }
    },
    "companies": {
        "1": {
            "name": "Company A",
            "street": "Kerkstraat",
            "number": "5",
            "zip": "2000",
            "city": "Ergens Anders",
            "vat": "BE1234456879",
            "email": "info@acompany.com",
            "phone": "+32486123456",
            "bank_account": "BE11999999898989"
        }
    },
    "invoices": {
        "1": {
            "generated": "ex",
            "invoice_number": "1",
            "invoice_date": "2020-01-01",
            "total_base_amt": 150,
            "total_vat_amt": 21,
            "file_path": "files/invoices/demo.pdf"
        },
        "2024-11": {
            "generated": "in",
            "invoice_number": "2024-11",
            "creditor_info": {
                "creditor_id": 1
            },
            "debtor_info": {
                "debtor_company_id": 1,
                "debtor_person_id": 2
            },
            "invoice_date": "2020-01-01",
            "due_date": "2020-01-31",
            "items": {
                "1": {
                    "description": "Item 1",
                    "qty": 1,
                    "base_amt": 100,
                    "vat_pct": 0.21,
                    "vat_amt": 21,
                    "total_amt": 121
                }
            },
            "total_base_amt": 121,
            "total_vat_amt": 21
        }
    }
}